*{
    padding:0;
    margin:0
}
body{
    background-color:#000
}
header{
    padding:20px;
}
h1{
    color:#008000;
    text-align:center;
    font:3em Arial
}
#links{
    width:60%;
    margin:auto;
    height:auto;
    text-align: center
}
a{
    margin:auto
}
a button{
    width:98%;
    height:80px;
    margin:13px auto;
    font-size:25px;
    cursor:pointer;
    text-align:center;
    border:2px #FFFFFF solid;
    color:#FFFFFF;
    text-align:center;
    border-radius:10px
}
a button p{
    text-align:center
}
#linkedin{
    background-color:#000080
}
#instagram{
    background-color: #C71585
    
}
#portfolio{
    background-color:#053f05
}
#github{
    background-color:#1C1C1C
}
footer{
    width:80%;
    color:#FFFFFF;
    font-size:20px;
    text-align:left;
    margin:15px auto;
    text-decoration:#FFFFFF;
}
footer a {
    color:#ffffff;
}

@media only screen and ( max-width:700px){

#links{
width:95%
}
header{
    padding:5px;
}
h1{
    font-size:2em 
}
}